:root{
    --dark-gray: #242424;
    --black: #121212;
    --blue: #226DFF;
    --dark-blue: #1756D1;
    --ligth-blue: #5B8DEF;
    --red: #EF5B5B;
    --green: #54D971;
    --second-text: #A3A3A3;
    --white-text: #F0F0F0;
    --light-gray-text: #EDEDED;
}


body{
    background-color: var(--black);

}
input{
    outline: none;
}
textarea::placeholder{
    color: var(--second-text);
}
textarea{
    resize: none;
}
.cp{cursor: pointer;}

.vacansies-list{
    top: 73px;
    left: 0px;
}
.vacansies-list li:hover{
    background-color: var(--dark-gray);
}
.vacansies-list .act{
    background-color: #505050;
}
.arrow{
    transition: transform 0.25s;
}
.turn{
    transform: rotate(180deg);
    transition: transform 0.25s;
}
.ff-Manrope{font-family: Manrope}
.bg-blue{
    background-color: var(--blue);
}
.bg-dark-gray{
    background-color: var(--dark-gray);
}
.bg-gray{
    background-color: #505050;
}
.bg-black{
    background-color: var(--black);
}
.bg-clear-black{
    background-color: black;
}
.bg-grad-gray{
    background: linear-gradient( rgba(184, 188, 187, 0) 0%, rgba(184, 188, 187, 1) 50%);

}
.c-red{
    color: #EF5B5B;
}
.c-header{
    color: #EDEDED;
}
.c-grayED{
    color:var(--light-gray-text);
}
.c-grayD9{
    color: #D9D9D9;
}
.c-firstF0{
    color: var(--white-text);
}
.c-secondA3{
    color: var(--second-text);
}
.c-blue{
    color: var(--blue);
}
.lh136{
    line-height: 136.5%;
}
.lh32{
    line-height: 32px;
}
.lh39{
    line-height: 39px;
}
.lh40{
    line-height: 40px;
}
.lh54{
    line-height: 54px;
}

.button{
    background-color: var(--blue);
}
.button:hover{
    background-color: var(--ligth-blue);
}

.button:active{
    background-color: var(--dark-blue);
}
.br-bottom10{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.br-top10{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.fd-column{
    flex-direction: column;
}
.fd-row{
    flex-direction: row;
}
.fd-reserse{
    flex-direction: column-reverse;
}
.position-grad{
    bottom: 0px;
    left: 0px;
}

.position_4icon_big{
    top: -483px;
    left: -54px;
    height: 1590.49px;
    width: 1571px;
    opacity: 11%;
    max-width: 1571px !important;
    max-height: 1590.49px !important;
}

.position_4icon{
    top: 0px;
    left: 0px;
    height: 630px;
    max-width: 1571px !important;
    max-height: 1590.49px !important;
}
.position_palette{
    left: 0px;
    top: -175px;
    width: 100%;

    position: relative;
}

.position-sait{
    bottom: 18%; /*по макету 89px для размера окна 1770px*/
    left: 15px;
}
.position-textProject{
    position: absolute;
    top: calc(-175px + 65%);
    left: 0px;
}
.inputtext{

}
button:disabled{
    background-color: var(--dark-gray);
    cursor: not-allowed;
}
button:disabled:hover{
    background-color: var(--dark-gray);
    cursor: not-allowed;
}
.button-size:hover{    
    background-color: var(--ligth-blue);
}

.button-size:active{    
    background-color: var(--dark-blue);
}
input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 1;
    position: absolute;
    z-index: -10;
}

.b-opacity{
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.b-gray{
    border: 1px solid var(--second-text);
}
.b-bottom{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--blue);
}
.b-blue{
    border: 1px solid var(--blue);
}
.pt35{padding-top: 35px;}
.pb35{padding-bottom: 35px;}
.pt4{padding-top: 4px;}
.pb4{padding-bottom: 4px;}
.pl8{padding-left: 8px;}
.pr8{padding-right: 8px;}
.pb8{padding-bottom: 8px;}
.pt8{padding-top: 8px;}

.w32{
    width: 32px;
}
.h40{
    height: 40px;
}
.h157{
    height: 157px;
}
.h169{
    height: 169px;
}
.h211{
    height: 211px;
} 
.h-30{height: 30%;}


.footerNav:first-child{
    flex-direction: column-reverse;
    align-items: center;
}
.button-size{
    width: 100%;
}

.active{
    background-color: #137EE1;
}
.fw{
    flex-wrap: wrap;
}


@media (min-width: 768px){
   
    .sm-fd-row{
        flex-direction: row;
    }
    .sm-w48{
        width: 48px;
    }
    .sm-h60{
        height: 60px;
    }
    .sm-h178{
        height: 178px;
    }
    .sm-h422{
        height: 422px;
    }
    .sm-mt35{
        margin-top: 35px;
    }
    .sm-lh70{
        line-height: 70px;
    }
    .position-textProject{
        position: absolute;
        top: calc(-235px + 65%);
        left: 0px;
    }
    .position_palette{
        left: 0px;
        top: -235px;
        width: 100%;
    
        position: relative;
    }
    .sm-jc-start{
        justify-content: start;
    }
    .sm-lh95{
        line-height: 95px;
    }
    .sm-h217{
        height: 217px;
    }
    .sm-h285{
        height: 285px;
    }
    .sm-pt35{
        padding-top: 35px;
    } 
    .sm-pb35{
        padding-bottom: 35px;
    }
    
    .footerNav:first-child{
        flex-direction: row;
    }
    
    .orderBlock{
        order: -1;
    }
}

@media (min-width: 1800px){
    .xl-jc-start{
        justify-content: start;
    }
    .xl-lh95{
        line-height: 95px;
    }
    .xl-h217{
        height: 217px;
    }
    .xl-h490{
        height: 490px;
    }
    .xl-h844{
        height: 844px;
    } 
    .xl-pt35{
        padding-top: 35px;
    } 
    .xl-pb35{
        padding-bottom: 35px;
    }
    .xl-pt64{
        padding-top: 64px;
    }
    .position_palette{
        left: 0px;
        top: -359px;
        position: relative;
        width: 819px;
        max-width: 200% !important;
        max-height: 150% !important;
    }
    .position-textProject{
        position: inherit;
        top: 0;
        left: 0;
    }
    
    .xl-fd-row{
        flex-direction: row;
    }
    .button-size{
        width: auto;
    }
}